.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Button4 {
    height: 60px;
    width: 150px;
    background-color: rgb(8, 236, 38);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.ViewButton {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}